html {
  font-size: 14px;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

#wrapper {
  font-size: 10px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding-top: 10em; */
}

.container {
  width: 100%;
  max-width: 93.5em;
  margin: 3em auto 0;
}

#wrapper > .container {
  display: flex;
  padding: 0 8em;
}

.phone-app-demo {
  height: 61.8em;
  background: url("../images/mobile-app.png") center no-repeat;
  flex: 1;
}

.form-data {
  width: 100%;
  max-width: 35em;
  margin-top: 3em;
}

.form-data form {
  background-color: #fff;
  border: 2px solid #eee;
  display: flex;
  flex-direction: column;
  padding: 2em 4em;
  text-align: center;
}

.logo img {
  width: 17.5em;
  margin-bottom: 2.5em;
}

.form-data form input {
  padding: .8em;
  margin-bottom: .5em;
  border: 2px solid #eee;
  border-radius: .4em;
}

.form-btn {
  margin: 1em 0 1.5em;
  height: 2em;
  background-color: #3897f0;
  /* font-size: 1.4em; */
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: .4em;
  cursor: pointer;
}

.has-separator {
  font-size: 1.3em;
  color: #999999;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 0.5em;
}

.has-separator::before,
.has-separator::after {
  content: "";
  position: absolute;
  background-color: #eee;
  width: 40%;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
}

.has-separator::before {
  left: 0;
}

.has-separator::after {
  right: 0;
}

.google-login {
  font-size: 1.0em;
  font-weight: bold;
  margin-bottom: 2.5em;
  cursor: pointer;
}

.google-login i {
  font-size: 1.0em;
  margin-right: .7em;
}

.password-reset {
  font-size: 1.2em;
  color: #003569;
}

.sign-up {
  text-align: center;
  font-size: 1.4em;
  color: #262626;
  padding: 2em 0;
  background-color: #fff;
  border: 2px solid #eee;
  margin: 1em 0;
}

.sign-up a {
  color: #3897f0;
  font-weight: bold;
}

.get-the-app {
  font-size: 1.4em;
  text-align: center;
}

.get-the-app span {
  display: block;
  margin: 2em 0;
  color: #262626;
}

.badges {
  width: 100%;
  display: flex;
  justify-content: center;
}

.badges img {
  max-width: 10em;
  cursor: pointer;
}

.badges img:first-child {
  margin-right: 1em;
}

footer {
  padding: 5em 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.3em;
  margin-top: 0;
  flex-wrap: wrap;
}

.footer-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.footer-nav ul li {
  margin-right: 1.6em;
}

.footer-nav ul li a {
  color: #003569;
}

.copyright-notice {
  color: #999999;
  margin-left: 50%;
}

.vvzhL {
    color: #8e8e8e;
    color: rgba(var(--f52,142,142,142),1);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0px 10px;
    text-align: center;
}

.auth__error {
  margin: 1em 0 1em 0;
  color: red;
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
  .phone-app-demo {
    display: none;
  }

  .form-data {
    margin: 0 auto;
  }
  
  .wrapper > .container {
    padding: 0;
  }

  footer .container {
    padding: 0 2em;
    justify-content: center;
  }

  .footer-nav ul {
    justify-content: center;
  }

  .footer-nav ul li {
    margin-bottom: 1em;
  }
}

@media (max-width: 450px) {
  .wrapper {
    padding-top: 0;
  }

  .form-data form {
    background-color: transparent;
    border: none;
    padding: 0 2em;
  }

  .sign-up {
    background-color: transparent;
    border: none;
    margin: 4em 0;
  }

  footer {
    padding-bottom: 2em;
  }
}